
/******************************************************************************/
/***** Website *****/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

#xgo {
  background-color: #f4f7f6;
}

/***** Website *****/
/******************************************************************************/



/******************************************************************************/
/***** Navbar *****/

#si-navbar {
  height: 75px;
  padding: 0 24px;
  transition: background-color .2s;
}

#si-navbar[data-scrolled="false"] {
  background-color: hsl(0deg 0% 100% / 0%);
}

#si-navbar[data-scrolled="true"] {
  background-color: hsl(0deg 0% 100% / 80%);
}

#si-navbar--menu-items {
  gap: 50px;
}

.si-navbar--menu-item {
  color: #333;
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

#si-navbar .si-effect--underline::before {
  bottom: 0px;
  --underline-color: #333;
}

/***** Navbar *****/
/******************************************************************************/



/******************************************************************************/
/***** Sidebar *****/

#si-sidebar--content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sp-sidebar--menu-items {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sp-sidebar--menu-item {
  color: #333;
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
}

#si-sidebar .si-effect--underline::before {
  --underline-color: #333;
  bottom: 0px;
}

/***** Sidebar *****/
/******************************************************************************/



/******************************************************************************/
/***** Section *****/

.xgo-section--body {
  height: 100%;
}

.xgo-section--title {

}

/***** Section *****/
/******************************************************************************/



/******************************************************************************/
/***** Hero *****/

#xgo-hero {
  background-image: linear-gradient(45deg, #99acad, transparent);
  height: 95vh;
  overflow: hidden
}

/***** Hero *****/
/******************************************************************************/



/******************************************************************************/
/***** Contacts *****/

#xgo-contacts {
  min-height: 50vh;
}

/***** Contacts *****/
/******************************************************************************/



/******************************************************************************/
/***** Categories *****/

#xgo-categories--container {
  margin-bottom: 80px;
}

#xgo-categories {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var( --grey-dark );
}

.xgo-category--button {
  font-size: var( --font-size-l );
  font-weight: 500;
  height: 62px;
  line-height: 30px;
  padding: 15px 30px 15px 30px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.xgo-category--button[data-selected=true]::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #46d2ff;
}

#xgo-categories--description {
  color: var( --grey-dark );
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: var( --font-size-l );
  font-weight: 500;
  line-height: 30px;
  letter-spacing: var( --letter-spacing-l );
  padding: 15px 0;
}

/***** Categories *****/
/******************************************************************************/

/******************************************************************************/
/***** Models *****/

#xgo-models {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.xgo-model-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 12px;
  border-radius: 6px;
  background-color: #d3d3d3;
}

.xgo-model-card--name {
  font-size: 20px;
  font-weight: 500;
}

.xgo-model-card--dimensions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.xgo-model-card--dimension {
  display: flex;
  align-items: center;
  gap: 8px;
}

.xgo-model-card--dimension-icon {
  font-size: 32px;
}

.xgo-model-card--dimension-label {
}

.xgo-model-card--thumbnail {
  width: 250px;
  min-height: 300px;
}

/***** Models *****/
/******************************************************************************/

/******************************************************************************/
/***** Types *****/

#xgo-type--model-name {
  font-size: var( --font-size-xxl );
  font-weight: 500;
  line-height: var( --line-height-xxl );
  text-align: center;
}

.xgo-type--name {
  color: var( --grey-dark );
  font-size: var( --font-size-l );
  text-align: center;
}

.xgo-type--images {
  border-radius: 10px;
  margin-top: 150px;
  overflow: hidden;
  width: 1024px;
}

/***** Types *****/
/******************************************************************************/
