
[submodule "monoset"]
	path = submodules/monoset
	url = git@github.com:monotech-hq/monoset.git
[submodule "submodules/mongo-db-api"]
	path = submodules/mongo-db-api
	url = git@github.com:bithandshake/mongo-db-api.git
[submodule "submodules/bybit-api"]
	path = submodules/bybit-api
	url = git@github.com:bithandshake/bybit-api.git
[submodule "submodules/re-frame-api"]
	path = submodules/re-frame-api
	url = git@github.com:bithandshake/re-frame-api.git
[submodule "submodules/time-api"]
	path = submodules/time-api
	url = git@github.com:bithandshake/time-api.git
[submodule "submodules/pathom-api"]
	path = submodules/pathom-api
	url = git@github.com:bithandshake/pathom-api.git
[submodule "submodules/dom-api"]
	path = submodules/dom-api
	url = git@github.com:bithandshake/dom-api.git
[submodule "submodules/io-api"]
	path = submodules/io-api
	url = git@github.com:bithandshake/io-api.git
[submodule "submodules/ajax-api"]
	path = submodules/ajax-api
	url = git@github.com:bithandshake/ajax-api.git
[submodule "submodules/docs-api"]
	path = submodules/docs-api
	url = git@github.com:bithandshake/docs-api.git
[submodule "submodules/local-db-api"]
	path = submodules/local-db-api
	url = git@github.com:monotech-hq/local-db-api.git
[submodule "submodules/logger-api"]
	path = submodules/logger-api
	url = git@github.com:bithandshake/logger-api.git
