
{:source-paths ["source-code" "monoset/source-code" "submodules"]

 :builds
 {:site        {:asset-path "/site/core"
                :devtools {;:watch-dir  "resources"
                           :watch-dir "site"
                           :after-load boot-loader.frontend.site/render-site!}
                :modules {:site {:init-fn boot-loader.frontend.site/start-site!}}
                :output-dir "resources/public/js/core"
                ; BUG#0012
                ; A CKEditor miatt szükséges az {:output-feature-set :es-next} beállítás!
                ; Cannot convert ECMASCRIPT_2018 feature "RegExp unicode property escape" to targeted output language.
                :compiler-options {:infer-externs true :output-feature-set :es-next}
                :target :browser}

  :app         {:asset-path "/app/core"
                :devtools {:watch-dir  "resources"
                           :after-load boot-loader.frontend.app/render-app!}
                :modules {:app {:init-fn boot-loader.frontend.app/start-app!}}
                :output-dir "resources/public/js/core"
                ; BUG#0012
                :compiler-options {:infer-externs true :output-feature-set :es-next}
                :target :browser}

  :site-ready  {:modules {:site {:init-fn boot-loader.frontend.site/start-site!}}
                ; BUG#0012
                :compiler-options {:infer-externs true :output-feature-set :es-next}
                :optimizations :advanced
                :asset-path "/js/core"
                :output-dir "resources/public/js/core"
                :target :browser}

  :app-ready   {:modules {:app {:init-fn boot-loader.frontend.app/start-app!}}
                ; BUG#0012
                :compiler-options {:infer-externs true :output-feature-set :es-next}
                :optimizations :advanced
                :asset-path "/js/core"
                :output-dir "resources/public/js/core"
                :target :browser}}}
